body {
  margin: 0;
  background-color: #f8f8f8;
}
header {
  background-color: chartreuse;
  width: 1000px;
  margin-left: calc(50% - 500px);
  float: left;
  margin-top: 30px;
}

header > img {
  /* background-color: aqua; */
  float: left;
  width: 150px;
  height: 60px;
  /* object-fit ir object-position reikalingi jei naudojam ir width ir height. 
  Jei naudojam tik viena parametra situ dvieju nereikia. */
  object-fit: contain;
  object-position: left;
}

nav {
  /* background-color: aquamarine; */
  float: right;
}

nav > a {
  float: left;
  padding: 5px 20px;
  border: 5px solid blue;
  /* border: 5px solid transparent; */
}
nav > a:last-child {
  margin-left: 15px;
  border-color: red;
}

main {
  background-color: bisque;
  float: left;
  width: 1000px;
  margin-top: 30px;
  margin-left: calc(50% - 500px);
}

div {
  /* background-color: blueviolet; */
  float: left;
  width: 42%;
  margin-left: 2%;
  margin-right: 2%;
}
h1 {
}

p {
}

main > img {
  /* background-color: aqua; */
  float: right;
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}
