body {
  margin: 0;
  background-color: #f8f8f8;
}
header {
  background-color: chartreuse;
  width: 800px;
  margin-left: calc(50% - 400px);
  display: inline-block;
}

header > img {
  /* background-color: aqua; */
  float: left;
}

nav {
  /* background-color: aquamarine; */
  float: right;
}

a {
}

main {
  background-color: bisque;
  display: inline-block;
  width: 800px;
  margin-left: calc(50% - 400px);
}

div {
  /* background-color: blueviolet; */
  float: left;
}
h1 {
}

p {
}

main > img {
  float: right;
}
